.light {
    /* main */
    --back-color: white;
    
    /* nav */
    --logo-color: dodgerblue;
    --navback-color: white;
    --shadow: rgba(0, 0, 0, 0.274);
    --hover-effect: rgb(0, 81, 255);
    --link-color: rgb(85, 170, 255);
    --active-link-color: rgb(0, 81, 255);
    --active-link-bColor: rgba(218, 236, 255, 0.582);
    --terminal-bColor: white;
    --terminal-shadow: rgba(172, 172, 172, 0.37);
    --anime-bColor:  rgba(151, 200, 247, 0.267);
    --welcome-bColor: rgba(181, 209, 245, 0.164);

    /* cmd */
    --op-color: black;

    /* mode-btn */
    --mode-color: black;
}

.dark {
    /* main */
    --back-color: rgb(68, 67, 67);

    /* nav */
    --logo-color: dodgerblue;
    --navback-color: black;
    --shadow: rgba(161, 161, 161, 0.521);
    --hover-effect: rgb(0, 81, 255);
    --link-color: rgb(85, 170, 255);
    --active-link-color: rgb(0, 81, 255);
    --active-link-bColor: rgba(218, 236, 255, 0.863);
    --terminal-bColor: black;
    --terminal-shadow: rgba(121, 121, 121, 0.705);
    --anime-bColor:  rgb(90, 90, 90);
    --welcome-bColor: rgb(59, 59, 59);

    /* cmd */
    --op-color: rgb(197, 197, 197);
    
    /* mode-btn */
    --mode-color: dodgerblue;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.darkmode {
    position: absolute;
    margin-top: calc(100vh - 70px);
    margin-left: calc(100vw - 70px);
    height: 60px;
    width: 60px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    box-shadow: 0 0 10px 2px black ;
}

.darkmode:focus {
    outline: none;
}

.dark-switch {
    background-color: dodgerblue;
    box-shadow: 0 0 10px 2px dodgerblue ;
}

.main {
    height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: var(--back-color);
}

.nav {
    padding: 5px;
    color: var(--logo-color);
    display: grid;
    grid-template-columns: 1fr 50px;
    background-color: var(--navback-color);
    box-shadow: 0 0 10px 2px var(--shadow) ;
    z-index: 1;
}

.github-link {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.github-mark {
    clip-path: circle(15px at center);
    background-color: white;
}

/* Home page design */

.subdiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0px 3vmin;
    font-size: 26px;
}

.link {
    height: 100%;
    padding: 5px 10px;
    color: var(--link-color);
    font-weight: 500;
}

.navlink>span:hover {
    cursor: pointer;
    color: var(--hover-effect);
}

.active {
    color: var(--active-link-color);
    background-color:var(--active-link-bColor);
    border-radius: 3px;
}

.page {
    color: white;
    display: grid;
    grid-template-columns: 6fr 4fr;
}

.cmd-anime {
    background-color: var(--anime-bColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.draw {
    height: 30vw;
    width: 50vw;
    padding: 10px;
    color: var(--logo-color);
    background-color: white;
    box-shadow: 0px 0px 10px 4px var(--terminal-shadow);
    border-radius: 5px;
    background-color: var(--terminal-bColor);
}

.welcome {
    color: var(--logo-color);
    background-color: var(--welcome-bColor);
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn>i {
    color: white;
}

/* Docs */

.docs {
    margin: auto;
    text-align: center;
    color: var(--logo-color);
}

/* Cmd */

.cmd {
    margin: auto;
}

.inp {
    margin: 10px;
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
}
.inp > input {
    padding: 5px;
    color: var(--logo-color);
    background-color: var(--navback-color);
    border: solid 1px black;
    font-weight: 600;
}
.op {
    min-height: 200px;
    max-height: calc(100vh - 100px);
    border: solid 1px black;
    overflow: auto;
}

.op > pre {
    color: var(--op-color);
}

/* About */

.about {
    margin: auto;
    color: var(--logo-color);
}

/* @media screen and (max-width: 850px) {
    .page {
        grid-template: 50vh 1fr / 1fr;
    }
    .draw {
        height: 40vh;
        width: 60vw;
    }
}

@media screen and (max-width: 600px) {
    .page {
        grid-template: 50vh 1fr / 1fr;
    }
    .draw {
        height: 45vw;
        width: 70vw;
    }
} */